<a href="https://colab.research.google.com/github/sagar07patil/MiniProjects/blob/main/Hotel_review_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


df = pd.read_csv('/content/drive/MyDrive/Data/tripadvisor_hotel_reviews.csv')

In [ ]:
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

**Data Cleaning**

In [ ]:
df['Rating'].value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: Rating, dtype: int64

In [ ]:
df_neg = df.loc[df["Rating"]<3]
df_neg = df_neg.reset_index(drop=True)

In [ ]:
df_five = df.loc[df["Rating"]==5]
df_five = df_five.reset_index(drop=True)

In [ ]:
print(len(df_five))

9054

In [ ]:
print(len(df_neg))

3214

In [ ]:
df_pos = df_five.loc[:len(df_neg)]

In [ ]:
print(len(df_pos))

3215

In [ ]:
df_all = pd.concat([df_neg,df_pos],axis=0)
df_all = df_all.reset_index(drop=True)

In [ ]:
df_all.head()

                                              Review  Rating
0  ok nothing special charge diamond member hilto...       2
1  poor value stayed monaco seattle july, nice ho...       2
2  horrible customer service hotel stay february ...       1
3  disappointed say anticipating stay hotel monac...       2
4  great location need internally upgrade advanta...       2

In [ ]:
df_all.tail()

                                                 Review  Rating
6424  perfect hotel hotel does not really need glowi...       5
6425  perfect hotel small hotel comfortable perfect ...       5
6426  ordinary location extraordinary hotel know lov...       5
6427  classy indulgence awesome experience, staff n'...       5
6428  first-rate experience stay library hotel wife ...       5

In [ ]:
len(df_all)

6429

**Create a Sentiments Column**

In [ ]:
df_all["Sentiment"] = np.where(df_all["Rating"] ==5 , "Positive","Negative")

In [ ]:
df_all = df_all.sample(frac=1)
df_all = df_all.reset_index(drop=True)

In [ ]:
df_all.head(10)

                                              Review  Rating Sentiment
0  b.w, eden rip-off great location, hotel 144 am...       1  Negative
1  okay not fantastic, checking price upscale hot...       2  Negative
2  time guest guest life husband stayed new years...       5  Positive
3  anniversary surprise, booked night stay husban...       1  Negative
4  not pampering expected view resort beautiful r...       2  Negative
5  mixed review bavaro princess hubby bavaro prin...       2  Negative
6  great place stay san juan excellent resort, pl...       5  Positive
7  people talking, ca n't believe excellent ratin...       2  Negative
8  paradise spent week palace april fabulous time...       5  Positive
9  cockroach problem called hotel directly book s...       2  Negative

**Splitting into Train and Test**

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df_all.Review,df_all.Sentiment)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_vec = v.fit_transform(x_train)
x_test_vec = v.transform(x_test)

**Using a Classification Model**

In [ ]:
from sklearn import svm
clf_svm = svm.SVC(kernel="linear")
clf_svm.fit(x_train_vec,y_train)

SVC(kernel='linear')

**Accuracy**

In [ ]:
clf_svm.score(x_test_vec,y_test)

0.9552238805970149

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test,clf_svm.predict(x_test_vec), average=None)

array([0.95460277, 0.95582822])

Testing on random reviews of ourselves :

In [ ]:
rev = ["This place was beautiful , cant wait to come back"]
rev_vec = v.transform(rev)
clf_svm.predict(rev_vec)

array(['Positive'], dtype=object)

In [ ]:
rev = ["Horrible place,will never come here again"]
rev_vec = v.transform(rev)
clf_svm.predict(rev_vec)

array(['Negative'], dtype=object)